Repository Leets-Official/Blog-FE-ItoR, pull requests merged in 2025-05, with the labels that each got.

#32 [3주차] 계다현/[feat] 공통 컴포넌트, 로그인 모달, 게시물 작성 구현
  package-lock.json
  package.json
  src/App.tsx
  src/__mocks__/mockPost.ts
  src/assets/icon/ic_close_button.svg
  src/assets/icon/ic_gitlog_logo.svg
  src/assets/icon/ic_line.svg
  src/assets/icon/ic_profile_upload.svg
  src/assets/index.tsx
  src/components/blog/ContentSection.tsx
  src/components/blog/PhotoSection.tsx
  src/components/blog/TitleSection.tsx
  src/components/blogDetail/BlogFooter.tsx
  src/components/blogDetail/CommentSection.tsx
  src/components/blogDetail/ContentSection.tsx
  src/components/blogDetail/TitleSection.tsx
  src/components/common/Button/Button.styled.ts
  src/components/common/Button/Button.tsx
  src/components/common/Header/DetailRight.tsx
  src/components/common/Header/Header.styled.ts
  src/components/common/Header/Header.tsx
  src/components/common/Header/WriteRight.tsx
  src/components/common/Image/Image.tsx
  src/components/common/Input/Input.styled.ts
  src/components/common/Input/Input.tsx
  src/components/common/Modal/ActionModal.tsx
  src/components/common/Modal/BaseModal.tsx
  src/components/common/Modal/DetailModal.tsx
  src/components/common/Modal/LoginModal.tsx
  src/components/common/Modal/Modal.styled.ts
  src/components/common/Modal/Modal.tsx
  src/components/common/Modal/ModalLayer.tsx
  src/components/common/SideBar/SideBar.styled.ts
  src/components/common/SideBar/SideBar.tsx
  src/components/common/Textarea/Textarea.styled.ts
  src/components/common/Textarea/Textarea.tsx
  src/components/home/PostItem.tsx
  src/components/index.tsx
  src/components/layout/Layout.tsx
  src/components/signup/SignupField.tsx
  src/components/signup/SignupHeader.tsx
  src/components/signup/SignupSelection.tsx
  src/constants/index.ts
  src/constants/signupFields.constant.ts
  src/context/ModalContext.tsx
  src/hooks/useImageUpload.ts
  src/pages/blogDetail/index.tsx
  src/pages/index.tsx
  src/pages/post/index.tsx
  src/pages/signup/index.tsx
  src/routes/route.tsx
  src/schema/auth.ts
  src/styles/theme.styled.ts
  src/types/post.ts
Labels: ✨Feature, 🎨Style

#39 [4주차] 신동현/[feat] 회원가입/로그인 api 연결
  신동현/package-lock.json
  신동현/package.json
  신동현/src/App.tsx
  신동현/src/api/api.ts
  신동현/src/api/login.ts
  신동현/src/api/signUp.ts
  신동현/src/components/layout/header/Header.tsx
  신동현/src/components/layout/sideBar/LoginedSideBar.tsx
  신동현/src/components/ui/Button/Button.tsx
  신동현/src/components/ui/Input.tsx
  신동현/src/components/ui/Modal/LoginModal.tsx
  신동현/src/components/ui/Toast.tsx
  신동현/src/pages/Home.tsx
  신동현/src/pages/KakaoLoginLoading.tsx
  신동현/src/pages/SignUp.tsx
  신동현/src/pages/SignUpDetail.tsx
  신동현/src/schema/auth.ts
  신동현/tsconfig.json
Labels: 📡 API, ✨Feature, 🎨Style

#38 [4주차] 권새봄/[feat] 회원가입/로그인 API 연결
  package-lock.json
  package.json
  src/App.jsx
  src/api/.gitkeep
  src/api/apiRequest.js
  src/api/axiosInstance.js
  src/components/AuthForm.jsx
  src/components/Input.jsx
  src/components/SignUpForm.jsx
  src/components/Spinner.jsx
  src/components/layout/Sidebar.jsx
  src/components/layout/index.jsx
  src/hooks/validation.js
  src/pages/KakaoSuccessPage.jsx
  src/pages/MainPage.jsx
  src/pages/SignUpPage.jsx
  src/routes.jsx
  src/stores/authStore.js
  src/utils/validation.js
  vite.config.js
Labels: 📡 API, ✨Feature

#50 [5주차] 정찬원/[feat] 이메일 로그인 유저 정보 수정
  src/api/auth.js
  src/api/post.js
  src/api/users.js
  src/components/Modal/LoginModal.jsx
  src/components/layout/Header/EditLog.jsx
  src/components/layout/Header/Header.jsx
  src/components/ui/Input.jsx
  src/constant/SignupFields.js
  src/data/userDummy.js
  src/pages/KakaoRedirectPage.jsx
  src/pages/MyBlog.jsx
  src/pages/Mypage.jsx
  src/pages/SignUp/SignUpEmail.jsx
  src/pages/SignUp/SignUpKakao.jsx
  src/utils/validation.js
Labels: 📡 API, ✨Feature, 🔧 Chore

#52 [5주차] 서나영/[feat] 게시글 CRUD 구현
  서나영-Blog/src/App.tsx
  서나영-Blog/src/api/blog/postAPI.ts
  서나영-Blog/src/api/blog/postDetailAPI.ts
  서나영-Blog/src/components/blog/BlogMeta.tsx
  서나영-Blog/src/components/blog/blogDetail/BlogTitle.tsx
  서나영-Blog/src/components/blog/blogDetail/InfoFooter.tsx
  서나영-Blog/src/components/blog/blogDetail/comment/Comment.tsx
  서나영-Blog/src/components/blog/blogDetail/comment/CommentInput.tsx
  서나영-Blog/src/components/blog/blogDetail/comment/CommentList.tsx
  서나영-Blog/src/components/blog/blogDetail/comment/CommentMeta.tsx
  서나영-Blog/src/components/editor/ContentEditor.tsx
  서나영-Blog/src/components/editor/ImageUpload.tsx
  서나영-Blog/src/components/layout/header/ChatandMore.tsx
  서나영-Blog/src/components/layout/header/DelandCreate.tsx
  서나영-Blog/src/components/layout/header/Header.tsx
  서나영-Blog/src/components/signup/ProfileUpload.tsx
  서나영-Blog/src/components/ui/Dropdown.tsx
  서나영-Blog/src/pages/BlogDetail.tsx
  서나영-Blog/src/pages/BlogEditor.tsx
  서나영-Blog/src/pages/Home.tsx
  서나영-Blog/src/types/blogPost.ts
Labels: 📡 API, ✨Feature

#58 [6주차] 서나영/[feat] 마이페이지 및 comment CRUD 구현
  서나영-Blog/package-lock.json
  서나영-Blog/package.json
  서나영-Blog/src/App.tsx
  서나영-Blog/src/api/api.ts
  서나영-Blog/src/api/auth/emailLoginAPI.ts
  서나영-Blog/src/api/auth/kakaoOAuthLoginAPI.ts
  서나영-Blog/src/api/blog/commentAPI.ts
  서나영-Blog/src/api/blog/postAPI.ts
  서나영-Blog/src/api/user/userAPI.ts
  서나영-Blog/src/assets/image.jpg
  서나영-Blog/src/components/blog/BlogMeta.tsx
  서나영-Blog/src/components/blog/blogDetail/BlogContent.tsx
  서나영-Blog/src/components/blog/blogDetail/comment/Comment.tsx
  서나영-Blog/src/components/blog/blogDetail/comment/CommentInput.tsx
  서나영-Blog/src/components/blog/blogDetail/comment/CommentList.tsx
  서나영-Blog/src/components/blog/blogDetail/comment/CommentMeta.tsx
  서나영-Blog/src/components/constants/inputFields.ts
  서나영-Blog/src/components/editor/ContentEditor.tsx
  서나영-Blog/src/components/layout/Sidebar/Sidebar.tsx
  서나영-Blog/src/components/layout/header/CancelandSave.tsx
  서나영-Blog/src/components/layout/header/Header.tsx
  서나영-Blog/src/components/modal/LoginModal.tsx
  서나영-Blog/src/components/mypage/MyPageForm.tsx
  서나영-Blog/src/components/mypage/MyPageTitle.tsx
  서나영-Blog/src/components/pagination/Pagination.tsx
  서나영-Blog/src/components/signup/ProfileUpload.tsx
  서나영-Blog/src/components/signup/SignupForm.tsx
  서나영-Blog/src/components/signup/SignupInput.tsx
  서나영-Blog/src/components/ui/Image.tsx
  서나영-Blog/src/components/ui/Modal.tsx
  서나영-Blog/src/mocks/mockPosts.ts
  서나영-Blog/src/pages/BlogDetail.tsx
  서나영-Blog/src/pages/Home.tsx
  서나영-Blog/src/pages/mypage/MyPageSetting.tsx
  서나영-Blog/src/types/blogPost.ts
  서나영-Blog/src/types/user.ts
Labels: 🐞Bug, 📡 API, ✨Feature, 🔧 Chore

#60 [6주차] 정찬원/[feat] 블로그 조회, 게시, 수정, 삭제 API + 이미지 업로드 API 구현
  index.html
  package-lock.json
  package.json
  public/profile.svg
  src/App.jsx
  src/api/Image.js
  src/api/Login.js
  src/api/auth.js
  src/api/comment.js
  src/api/post.js
  src/api/users.js
  src/assets/delete.svg
  src/assets/index.jsx
  src/components/BlogPost/BlogComment.jsx
  src/components/BlogPost/BlogDetail/BlogDetailField.jsx
  src/components/BlogPost/BlogDetail/BlogDetailFooter.jsx
  src/components/BlogPost/BlogLogic/BlogImageUpload.jsx
  src/components/BlogPost/BlogLogic/BlogPostContent.jsx
  src/components/BlogPost/BlogPostItem.jsx
  src/components/BlogPost/BlogPostList.jsx
  src/components/BlogPost/Pagination.jsx
  src/components/Modal/LoginModal.jsx
  src/components/SignUp/SignUpProfile.jsx
  src/components/index.jsx
  src/components/layout/Header/ChatandMore.jsx
  src/components/layout/Header/CreateLog.jsx
  src/components/layout/Header/DeleteandLog.jsx
  src/components/layout/Header/EditLog.jsx
  src/components/layout/Header/Header.jsx
  src/components/layout/Sidebar/SideLogin.jsx
  src/components/ui/Image.jsx
  src/components/ui/Input.jsx
  src/components/ui/Toast.jsx
  src/constant/SignupFields.js
  src/constant/inputFields.js
  src/context/ToastContext.jsx
  src/pages/Blog/BlogDetail.jsx
  src/pages/Blog/BlogEdit.jsx
  src/pages/Blog/BlogWrite.jsx
  src/pages/Home.jsx
  src/pages/KakaoRedirectPage.jsx
  src/pages/MyBlog.jsx
  src/pages/Mypage.jsx
  src/pages/SignUp/SignUpEmail.jsx
  src/pages/SignUp/SignUpKakao.jsx
  src/styles/BlogStyles.js
  src/styles/SignupStyles.js
  src/utils/SignupFields.js
  src/utils/storeTokens.js
  src/utils/validation.js
Labels: 📡 API, ✨Feature, 🎨Style, 🔧 Chore

#59 [6주차] 계다현/[feat] 마이페이지 api 연결 및 ui 추가
  src/__mocks__/mockPost.ts
  src/api/my/my.api.ts
  src/api/post/post.api.ts
  src/assets/icon/ic_profile_plus.svg
  src/assets/icon/ic_setting.svg
  src/assets/index.tsx
  src/components/blog/ContentSection.tsx
  src/components/blogDetail/BlogFooter.tsx
  src/components/common/Button/Button.tsx
  src/components/common/Header/ActionRight.tsx
  src/components/common/Header/Header.tsx
  src/components/common/Image/Image.tsx
  src/components/common/Input/Input.styled.ts
  src/components/common/Input/Input.tsx
  src/components/common/SideBar/SideBar.tsx
  src/components/common/Textarea/Textarea.styled.ts
  src/components/home/PostItem.tsx
  src/components/home/PostList.tsx
  src/components/my/ProfileSection.tsx
  src/components/pagination/Pagination.tsx
  src/components/signup/SignupField.tsx
  src/constants/index.ts
  src/constants/settingField.constants.ts
  src/constants/signupFields.constants.ts
  src/hooks/useImageUpload.ts
  src/pages/blogDetail/index.tsx
  src/pages/home/index.tsx
  src/pages/index.tsx
  src/pages/my/index.tsx
  src/pages/my/setting/index.tsx
  src/routes/route.tsx
  src/styles/common.styled.ts
  src/types/my.ts
  src/types/post.ts
  src/utils/formatPostDate.ts
Labels: ♻️ Refactor, 📡 API, ✨Feature, 🎨Style
